<ul class="nav">
  <li class="nav-item border">
    <a class="nav-link text-reset text-decoration-none fw-bold">All</a>
  </li>
  <li class="nav-item border">
    <a class="nav-link text-reset text-decoration-none fw-bold">Travel</a>
  </li>
  <li class="nav-item border">
    <a class="nav-link text-reset text-decoration-none fw-bold">Lifestyle</a>
  </li>
  <li class="nav-item border">
    <a class="nav-link text-reset text-decoration-none fw-bold">Business</a>
  </li>
  <li class="nav-item border">
    <a class="nav-link text-reset text-decoration-none fw-bold">Art</a>
  </li>
  <li class="nav-item border">
    <a class="nav-link text-reset text-decoration-none fw-bold">Work</a>
  </li>
</ul>
