<div class="dropdown">
  <div class="rounded-circle d-flex align-items-center justify-content-center" data-bs-toggle="dropdown" role="button" style="background-color: orange; height: 40px; width: 40px;">
    <a><img
      src="../../../../../assets/images/icons/filter-button.svg"
      alt="logout-icon" width="25px" height="25px"
    /></a>
  </div>
  <ul class="dropdown-menu">
    <li>
      <div>
        <form>
          <div class="mb-3">
            <label for="exampleInputTitle" class="form-label">Search by Title:</label>
            <input type="text" class="form-control" id="exampleInputTitle" aria-describedby="imageTitleHelp">
          </div>
          <button type="button" class="btn btn-success">Apply</button>
        </form>
      </div>
    </li>
  </ul>
</div>
