<div>
  <form>
    <div class="mb-3">
      <label for="exampleInputImageUrl" class="form-label">Image URL:</label>
      <input type="text" class="form-control" id="exampleInputImageUrl" aria-describedby="imageUrlHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputTitle" class="form-label">Title:</label>
      <input type="text" class="form-control" id="exampleInputTitle" aria-describedby="imageTitleHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputDescription" class="form-label">Description:</label>
      <input type="text" class="form-control" id="exampleInputDescription" aria-describedby="imageDescriptionHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputText" class="form-label">Text:</label>
      <input type="text" class="form-control" id="exampleInputText" aria-describedby="imageTextHelp">
    </div>
    <button type="button" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger">Delete</button>
  </form>
</div>
