<p style="color: orange;" class="d-flex align-items-center justify-content-center my-3">[ Making your Life Easier ]</p>
<h1 class="d-flex align-items-center justify-content-center my-3">Discovering the World</h1>
<div class="container">
  <div class="row">
    <div class="col-11">

    </div>
    <div class="col-1">
      <div class="rounded-circle d-flex align-items-center justify-content-center" role="button" style="background-color: orange; height: 40px; width: 40px;">
        <a><img
          src="../../../../assets/images/icons/edit-button.svg"
          alt="logout-icon" width="25px" height="25px"
        /></a>
      </div>
    </div>
  </div>
</div>
<app-main-navbar class="d-flex align-items-center justify-content-center my-3"></app-main-navbar>
<app-filter-form class="d-flex align-items-center justify-content-center my-3"></app-filter-form>
<div class="container">
  <div class="row">
    <div class="col-6 px-0" *ngFor="let presentation of presentations">
      <div>
        <app-presentation-card [photoUrl]="this.presentation.photoUrl" [title]="this.presentation.title" [description]="this.presentation.description" [text]="this.presentation.text" ></app-presentation-card>
      </div>
    </div>
  </div>
</div>
